<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>La Mamuca - Contact Page</title>
    <link rel="shortcut icon" href="images/logo/favicon.ico.png">

    <!-- CSS FILES -->
    <link href="../static/css/success.css" rel="stylesheet">

</head>

<body>

<button class="button">
    <p>Success</p>
</button>

<!-- JAVASCRIPT FILES -->


</body>
</html>
